*{
    margin: 0px;
    padding: 0px;
}
body{
    /* height: 2000px; */
    background-color: rgb(240 236 250);
    color: black;
    font-family: 'Indie Flower', cursive;
}
.header{
    /* border: 2px solid red; */
    height: 100px;
}
.top{
    background-color: rgb(2,0,42);
    border: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo img{
    padding: 2px;
    height: 45px;
}
.search{
    width: 50%;
    margin-top: -8px;
}
#searchbar{
    width: 100%;
    /* height: 35px; */
}
input{
    border-radius: 8px;
    font-size: 26px;
    outline: none;
}
.login{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.login img{
    width: 100px;
    height: 33px;
}
.login a{
    align-self: center;
    padding: 2px;
    width: 100px;
    height: 34px;
    text-decoration: none;
}
.login a:hover{
    border: 1px solid white;
    border-radius: 4px;
}

/* botelement */
.bot{
    margin-top: 1px;
    display: flex;
    background-color: rgb(91,90,102);
    border: 0px solid black;
    height: 49px;
    position: sticky;
    justify-content:space-between;
}
.menu{
    margin-left: 10px;
    align-self: center;
}
.menu input{
    font-size: 21px;
}
.nav{
    width: 800px;
    flex-shrink: 2;
}
nav ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    font-size: 22px;
    font-weight: bolder;
}
.navbar a:hover, .navbar a.active{
    text-decoration: underline;
    color: black;
}
.navbar a:hover{
    background-color: lightslategray;
}
@media only screen and (max-width:737px){
    .header{
        height: 140px;
    }
    .bot{
        height: 80px;
    }
}
@media only screen and (max-width:436px){
    .logo img{
        height: 40px;
    }
    .navbar a{
        padding: 7px 20px;
    }
    .navbar > li:nth-child(6){
        display: none;
    }
}
@media only screen and (max-width:402px){
    .login{
        display: none;
    }
    .navbar > li:nth-child(5){
        display: none;
    }
    
}

.helpbox{
    align-self: center;
    margin-right: 20px;
}
.helpbox input{
    border-radius: 20px;
    font-size: 20px;
}

/* main content */
.mainbody{
    margin: 10px 5px;
    margin-bottom: 0px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* box-sizing: border-box; */
    z-index: 2;
}
.box{ 
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    /* margin-top: 60px; */
    /* margin-left: 7%; */
    /* display: inline-block;  */
    background-color: lightgrey;
}
.box img{
    display: block;
    width: 150px;
    height: 160px;
    border: 2px solid black;
    margin: 2px auto;
    border-radius: 10px;
    margin-top: 10px;
}
.box p{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 2px 10px;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #0081bf;
}
.box h3{
    font-size: 1.6rem;
    text-align: center;
    color: black;
    text-decoration: underline;
    margin: 5px 0px;
}
.box strong{
    text-decoration: underline;
    font-family: 'Itim', cursive;
    font-size: 1.3rem;
    font-weight: bolder;
    color: black;

}
.endline p{
    margin: 0px;
    padding: 10px;
    padding-top: 22px;
    background-color: black;
    color: white;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 29px;
    font-weight: bolder;
    text-align: center;
}